<style>
    h1 {
        text-align: center;
    }
    @media (max-width: 20rem) {
        h1 {
            font-size: 3rem;
        }
    }
    @media (max-width: 17rem) {
        h1 {
            font-size: 2rem;
        }
    }
    @media (max-width: 13rem) {
        h1 {
            font-size: 1rem;
        }
    }
</style>
<h1>A Very Public Developer Diary</h1>
<p>
    <span>
        On this page, I will be posting blogs about my projects. The purpose is
        mainly for me to track and reflect on my learnings, although
        occasionally I might create something that might be interesting or
        useful to others.
    </span>
</p>
<p>
    <span>
        Enjoy your stay ⛺
    </span>
</p>
